.git
.gitignore
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
tests/
docs/
*.db
*.db-journal
.pve2_secret
*.md
!requirements.txt
.auth_credentials
.pve2_encryption_key
.venv
.opencode
logs/
todo.md
build/
